<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  {% comment %} Un-comment and inser font to pre-load Body Font below {% endcomment %}
  {% comment %} <link rel="preload" href="{{ 'some-font.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin> {% endcomment %}

  <title>{{ shop.name }}</title>

  <meta name="description" content="">

  {% include 'font-faces' %}
  {% include 'css-variables' %}
  {% include 'style-tags', layout: 'theme' %}
  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body>
  {% section 'header' %}

  <main class="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
</body>
</html>
